body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container-fe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .card-fe {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
  }
  
  .card-fe h2 {
    color: #007bff;
  }
  
  .card-fe p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .card-fe img {
    max-width: 100%;
    height: auto;
  }
  